<div class="fullpage">
  <div class="content text-center">
    <h1 class="title_page">Tu dose <%= @cocktail.name %></h1>
      <%= form_for([@cocktail, @dose], class: "form-group") do |f| %>
      <%= f.label 'Ingrédient', class: 'control-label' %>
      <%= f.collection_select(:ingredient_id, @ingredients, :id, :name) %>
      <%= f.label 'Description', class: 'control-label' %>
      <%= f.text_field :description, class: 'form-control' %>
      <%= f.submit class: 'btn btn-primary', style: 'margin: 50px' %>
      <% end %>
  </div>
</div>
